.m{
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    scroll-padding: 0 24px;
    overflow-y: hidden;

}

.nextBtn{
    width:35px;
    height: 35px;
    position: absolute;
    right:30px;
    border-radius: 999px;
  }